<ul>
	<li>Visit our code-base sample <a href="">GitHub Code-Base Sample</a></li>
	<li>Visit our Continous Integration and Continous Deployment Pipeline <a href=""></a></li>
	<li>Clone the code base (Using Git)</li>
	<li>Create changes and push to main!</li>
	<li>Check Azure deployment!</li>
</ul>

@code {

}
